*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}


body{
    background: #FFFFFF;
    color: #FFFFFF;

}
#header{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}

.container{
    padding: 0px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

logo{
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #1f1f94;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: bold;

}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #2f9bed;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}


nav ul li a:hover::after{
    width: 100%;
    
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    color: #000000;
    
}



.header-text h1 span{
    color: rgb(11, 8, 18);
}

/* ---about---  */
#about{
     padding: 80px 0;
     color: rgb(2, 2, 0);
     
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 32%;

}

.about-col-1 img{
    width:100%;
    border-radius: 15px;
}


.about-col-2{
flex-basis: 60%;
line-height: 180%;

}

.sub-title{
     font-size: 50px;
     font-weight: 600;
     
     color: rgb(41, 39, 140);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width:100;
    height: 3px;
    background: rgb(30, 31, 29);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;


}

.tab-links.active-link::after{
    width: 50%;


}

.tab-contents{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span{
    color: rgb(64, 39, 253);
    font-size: 30px;
}




.tab-contents{
    display: none;
}



.tab-contents.active-tab{
    display: block;
}

/*--- skills---*/
#services{
    padding: 100px 0;


}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.services-list div{
    background: rgb(84, 132, 255);
    padding: 40px;
    font-size: 13px;
    height: 350px;
    font-weight: 300;
    border-radius: 10px;
    transition:   cbackground 0.5s, transform 0.5s;
}



.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}


.services-list div a{
    text-decoration: none;
    color: aqua;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #0f2073;
    transform: translateY(-10px);
   
}

/*---work---*/


#portfolio{
    padding: 80px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(231, 224, 247, 0.6),#0b1bff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: aquamarine;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    
    width: 60px;
    height: 60px;
    
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #060606;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: #fff;
    transition: background 0.5s;
    font-weight: bold;
    color: #000000;
    
}

.btn:hover{
    background: rgb(131, 89, 255);
    
}

/*---contact----*/
.contact .container .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .contact-left {
    margin-right: 100px;
  }
  
  
  .contact-left h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
    color: #300cbc;
  }
  
  .contact-list li {
    margin-bottom: 40px;
  }
  
  .contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #300cbc;
  }
  
  .contact-list li h3 i {
    color: #000000;
    font-size: 1.3em;
    margin-right: 10px;
  }
  
  .contact-list li span {
    color: #000000;
    margin-left: 40px;
  }
  
  .contact-list li span a {
    color: black;
  }
  
  .contact-right p {
    color: black;
    font-size: 1.6em;
    margin-bottom: 30px;
  }
  
  .contact-right p span {
    color:black;
    font-weight: 700;
  }
  
  
  .contact-form input,
  .contact-form textarea {
    border: none;
    color:rgb(255, 255, 255);
    background: #7479d8;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
    
  }
  
  .contact-form textarea {
    width: 80%;
    resize: none;
  }
  
  ::placeholder {
    color: #fffcfc;
  }
  
  .contact-form .first-row input {
    width: 80%;
  }
  
  .contact-form .second-row {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-form .second-row input {
    width: 80%;
  }
  
  .contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;
    width: 100%;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: #000000;
  }
  
  footer a {
    color: #000000;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
  }
  
  .footer-container .about h2 {
    font-size: 3em;
    font-weight: 600;
    background: black;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;

  }
  
  .footer-container .about p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  .footer-container .info,
  .footer-container .follow {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-container .follow li a:hover {
    color: #040106;
  }
  
  .footer-container .info h3,
  .footer-container .follow h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
    
  }
  
  .footer-container .info ul,
  .footer-container .follow ul {
    display: flex;
  }
  
  .footer-container a {
    font-size: 1.5em;
    margin: 20px;
  }
  
  .footer-copyright p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
  }
.section-title-01{
    color: #000000;
}



.btn.btn2{
  display: inline-block;
  
  
}



#span{
  color: #0f2073;
  margin-top: -40px;
  display: block;
}

/*-------css for small screen------*/

nav.custom-icon{
    display: none;
}





@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/download.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    
    nav.custom-icon{
        display: block;
        font-size: 25px;
    }
    
    nav ul{
        background: #ebb6b6;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition:right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .custom-icon{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
   .about-col-2{
    font-size: 14px;
   }
   .tab-links{
    font-size: 16px;
    margin-right: 20px;
   }
  .contact-left, .contact-right{
    flex-basis: 100%;

  }

.copyright{
    font-size: 14px;
}


}


#msg{
    color: #120c0c;
    margin-top: -40px;
    display: block;
}
































